@import "./partials/reset";
@import "./partials/variables";

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background: $light-black;
  padding: 1rem;
}

.App {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
